@charset "utf-8";

body {
    ;
    margin: auto;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}	
body header {
    background-color: #344055;
    padding: 30px 0;
    /*border: thin solid yellow;*/
}
.content-wrap {
    margin: 0 auto;
    padding: 10px 0;
    width: 95%;
    /*border: thin dashed rgba(255,0,4,1.00);*/
}

body header h1 {
    color: #FFFFFF;
}
body header p {
    font-size: large;
    color: #FFFFFF;
    font-style: italic;
}
.background {
    background-image: url(../images/AdobeStock_216474184_Preview.jpeg);
    height: 400px;
    background-size: cover;
    color: #FFFFFF;
    padding-top: 30px;
    /*border: thin solid rgba(255,255,0,1.00);*/
}
.themes {
    padding-top: 30px;

}
.themes .content-wrap {
    padding-bottom: 30px;
}


.themes .grid-container .grid-item {
    background-color: rgba(37,164,220,1.00);
}
.themes .flex-container {
	width:95%;
	margin:0 auto;
    /*background-color: lightsteelblue;*/
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*@media (max-width:500px) {
	.themes .flex-container {
		background-color: green;}
}*/


.themes .flex-container .flex-item {
    height: 200px;
    border: thin solid midnightblue;
    flex: 0 0 300px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px 10px;
    background-image: url(../images/AdobeStock_216474184_Preview.jpeg);
    background-size: cover;
}
.flex-container .flex-item p {
	color:black;
	margin: 2px 5px;
    border-radius: 3px;
    padding: 2px 0;
    background-color: hsla(0,0%,100%,0.75);
}






.themes .grid-container {
    display: grid;
}

.themes .content-wrap {
    text-align: center;
}

@media (min-width:690px){
	.themes .content-wrap {
    text-align: left;
	}
}

.flex-container .flex-item h3 {
    margin: 20px 10px;
    border-radius: 3px;
    padding: 5px 0;
    background-color: hsla(0,0%,100%,0.25);
    height: 45px;
}
